name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: macos-13

    
    steps:
    - uses: actions/checkout@v3
    - name: SIP
      run: csrutil status
    - name: Build
      run: cargo build --verbose --features ci
    #- name: Run tests
    #  run: cargo test --verbose --features ci
    
